Cache
CachedData
CachedProfilesData
Code Cache
Crashpad
DawnGraphiteCache
DawnWebGPUCache
Dictionaries
GPUCache
languagepacks.json
Local Storage
logs
machineid
Network Persistent State
Preferences
Session Storage
Shared Dictionary
TransportSecurity
Trust Tokens
Trust Tokens-journal
User
